.form {
    display: flex;
    flex-direction: column;
  }
  
  .input {
    width: 30px; 
  }
  
  .button {
    border: none;
    background-color: brown;
    color: white;
    padding: 5px 10px;
    border-radius: 10px; 
    cursor: pointer;
  }
  
  
  