.cart-items {
  list-style: none;
  margin: 0;
  padding: 0;

  max-height: 40vh;
  overflow-y: auto;
}

.cart-items li {
  display: flex;
  margin-right: 20px;
  align-items: center;
  padding: 0.5rem 0;
  border-bottom: 2px solid whitesmoke;
  font-weight: bold;
}

.amountBox {
  background-color: transparent;

  border-radius: 5px;
  border: 1px solid grey;
  justify-content: center;
  width: 25px;
  height: 20px;
  box-shadow: aliceblue;
  margin-left: 10px;
  margin-right: 30px;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deleteButton {
  background-color: transparent;
  width: 30px;
  height: 25px;
  border: 1px solid grey;
  box-shadow: aliceblue;
  color: red;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2rem;
  margin-left: auto;
  
}
  .deleteButton:hover{
    background-color: grey;
  }
  .addButton{
    background-color: saddlebrown;
    width: 30px;
    height: 25px;
    border: 1px solid grey;
    box-shadow: aliceblue;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2rem;
    margin-left: auto;
    
  }
  .addButton:hover{
    background-color:grey;
    color: #8a2b06;
  }
  .buttonDiv{
    margin-left: auto;
  }

  
.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.actions {
  text-align: right;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #8a2b06;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
}

.actions button:hover,
.actions button:active {
  background-color: #5a1a01;
  border-color: #5a1a01;
  color: white;
}

.actions .button--alt {
  color: #8a2b06;
}

.actions .button {
  background-color: #8a2b06;
  color: white;
}
