.about-container {
    padding: 20px;
    background-color: #f8f9fa;
  }
  
  .section {
    text-align: center;
    padding: 20px;
    color: black;
  }
  
  .section h1 {
    font-size: 3rem; 
    margin-bottom: 20px;
  }
  
  .section p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  @media (max-width: 768px) {
    .section h1 {
      font-size: 2rem; 
    }
  
    .section p {
      font-size: 1rem;
    }
  }
  
  @media (max-width: 576px) {
    .section h1 {
      font-size: 1.5rem;
    }
  
    .section p {
      font-size: 0.9rem;
    }
  }
  