
.form label{
    margin-top: 20px;
    margin-left: 50px;
    width: 150px;
    display: inline-block;
   
}

.form input{
    margin-left: 10px;
    
    width: 300px;
    background-color: whitesmoke;
}
.form textarea{
margin-left: 10px;
    
}

.form button{
    margin-left: 10px;
   
    cursor: pointer;
}

.alert {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
    margin-bottom: 20px;
    color: green;
}